

@mixin breakpoint($point)
  @if $point == pc
    @media only screen and (max-width: 1024px)
      @content 
  @else if $point == pad 
    @media only screen and (max-width: 768px)  
      @content 
  @else if $point == mobile 
    @media only screen and (max-width: 479px)   
      @content 

=flex
    display: flex
    justify-content: center
    align-items: center

html,body
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    display: flex
    justify-content: center
    align-items: center
    
#canvas5
    max-width: 100%
    height: 100%
    width: 100%

#top
    width: 700px
    height: 70px
    border-bottom: 2px solid gray
    position: absolute
    top: 2vw
    +flex
    @include breakpoint(mobile)
        width: 100%

    .aboutme
        color: white
        height: 50px
        font-size: 20px
        text-align: center
        flex: 5
        cursor: pointer
        padding: 2px
        &:hover
            border: 1px solid white
            background: linear-gradient(150deg,#730c61,#1270bb)
            opacity: 0.8
            transition: 0.1s
    .portfolio
        color: white
        height: 50px
        font-size: 20px
        text-align: center
        flex: 5
        cursor: pointer
        padding: 2px
        &:hover
            border: 1px solid white
            background: linear-gradient(150deg,#1270bb,#730c61)
            opacity: 0.8
            transition: 0.1s
#content1
    display: flex
    justify-content: center
    align-items: center
    width: 950px
    background-color: rgba(192,192,192,0.2 )
    position: absolute
    box-shadow: 0px 10px 80px rgba(white,0.5)
    border-radius: 10px
    @include breakpoint(mobile)
        width: 100%
        flex-direction: column
        margin-top: 40vw
    .text
        flex: 2
        color: white
        padding: 15px 
        @include breakpoint(mobile)
            text-align: center
           
    img
        flex: 1
        width: 40%
        margin: 2vw
        height: 92%
        @include breakpoint(mobile)
            margin-top: 8vw

#content2
    display: flex
    justify-content: center
    align-items: center
    width: 950px
    height: 500px
    background-color: rgba(192,192,192,0.2 )
    position: absolute
    box-shadow: 0px 10px 100px rgba(white,0.5)
    border-radius: 10px
    flex-direction: column
    text-decoration: none
    transition: 0.5s
    @include breakpoint(mobile)
        width: 100%


          
